.ProductCard {
    width: 380px;
    margin: auto;
    box-shadow: 0 2px 7px #dfdfdf;
    background: #fafafa;
}


.ProductTumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    padding: 20px;
    background: #f0f0f0;
}

.ProductTumb img {
    max-width: 100%;
    max-height: 100%;
}

.ProductDetails {
    padding: 30px;
    max-width: 280px;
}


.ProductDetails h4 a {
    font-weight: 500;
    display: block;
    margin-Bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.ProductDetails h4 a:hover {
    color: #fbb72c;
}

.ProductDetails p {
    font-size: 15px;
    line-height: 22px;
    margin-Bottom: 18px;
    color: #999;
}

.ProductBottomDetails {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.Product-Bottom-Details div {
    float: left;
    width: 50%;
}

.ProductPrice {
    font-size: 18px;
    color: #fbb72c;
    font-weight: 600;
}

.ProductLinks {
    text-align: right;
}

.ProductLinks a {
    text-decoration: none;
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
}

.ProductLinks a:hover {
    color: #fbb72c;
}